.top-menu {
  background: #1976d2;
  padding: 2px 15px;
  position: relative;
}

#add-course {
  position: fixed;
  top: 1%;
  right: 2%;
  margin: 0;
}

.logo {
  max-height: 55px;
}

.courses {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}
