<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<button id="add-course" (click)="addCourse()">Add Course</button>

<div class="courses" #container>
  @for(course of courses; track course.id;) { @if($first) {
  <!-- for tracking with a custom function @for(course of courses; track courseTracker; let index = $index) { @if($first) { -->
  <!-- last resort @for(course of courses; track $index;) { @if($first) { -->
  <h1>{{ $count }} courses available</h1>
  <course-card
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
    [courseNumber]="$index + 1"
    [class.is-first]="$first"
    [class.is-last]="$last"
    [class.is-even]="$even"
    [class.is-odd]="$odd"
    [ngStyle]="cardStyles(course)"
  >
    @if (course.iconUrl && course.altText) {
    <course-image [src]="course.iconUrl" [altText]="course.altText" />
    } @else if (course.iconUrl && !course.altText) {
    <course-image [src]="course.iconUrl" [altText]="'Course cover photo'" />
    } @else {
    <h2>No photo available</h2>
    }

    <div class="course-text">
      <div class="course-description">{{ course.longDescription }}</div>
      <h3>Lesson Count: {{ course.lessonsCount || "Unknown" }}</h3>
    </div>
    <p>Edit description:</p>
    <textarea name="Edit Description"></textarea>
  </course-card>
  } @else {
  <course-card
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
    [courseNumber]="$index + 1"
    [class.is-first]="$first"
    [class.is-last]="$last"
    [class.is-even]="$even"
    [class.is-odd]="$odd"
    [ngStyle]="cardStyles(course)"
  >
    @if (course.iconUrl && course.altText) {
    <course-image [src]="course.iconUrl" [altText]="course.altText" />
    } @else if (course.iconUrl && !course.altText) {
    <course-image [src]="course.iconUrl" [altText]="'Course cover photo'" />
    } @else {
    <h2>No photo available</h2>
    }

    <div class="course-text">
      <div class="course-description">{{ course.longDescription }}</div>
      <h3>Lesson Count: {{ course.lessonsCount || "Unknown" }}</h3>
    </div>
    <p>Edit description:</p>
    <textarea name="Edit Description"></textarea>
  </course-card>
  } } @empty {
  <h1>No courses are available</h1>
  }

  <!-- 
    <h1>{{ courses.length | number : "3." }} courses available</h1>
    <course-card
      *ngFor="
        let course of courses | slice: 0:4 (second digit not included);
        index as i;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd  
      "
      [course]="course"
      (courseSelected)="onCourseSelected($event)"
      [courseNumber]="i + 1"
      [class.is-first]="isFirst"
      [class.is-last]="isLast"
      [class.is-even]="isEven"
      [class.is-odd]="isOdd"
    /> 
    {{ courses | json }} *useful for checking data while debugging
  -->

  <course-card
    #card1
    (courseSelected)="onCourseSelected()"
    [course]="courses[0]"
  />

  <course-card
    #card2
    (courseSelected)="onCourseSelected()"
    [course]="courses[1]"
  />
</div>
